# --- For-Bot-Working --------- #
https://github.com/KurimuzonAkuma/pyrogram/archive/v2.1.21.zip
TgCrypto
pyromod==1.5
python-dotenv
# --- For-Database ------------ #
pymongo
dnspython
# --- For-Web-Response ------- #
aiohttp
